@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lustria", serif;
  }
.border-gradient::after{ 
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: black;
}
@keyframes animate-ring{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg); 
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.border-gradient::before{
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    border-radius: 50%;
    background: rgb(131,58,180);
    background: linear-gradient(197deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    z-index: -2;
    animation: animate-ring 1s  infinite;
}
.border-gradient:hover{
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1);
}
.hide{
    display: none;
}
/* colors:light:
red-950
red-600
black
gray-100
gray-500
white
*/
/* colors:dark:

*/