@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Lustria", serif;
    scroll-behavior: smooth;
  }
  /* start navbar */
.border-gradient::after{ 
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: black;
}
.border-gradient::before{
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    border-radius: 50%;
    background: rgb(173,0,0);
    background: linear-gradient(0deg, rgba(173,0,0,1) 0%, rgb(242, 130, 130) 100%);
    z-index: -2;
    animation: animate-ring 1s  infinite;
}
.border-gradient:hover{
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 1);
}
.border-gradient,nav{
    z-index: 1000;
}
/* end navbar */
/* start slider */
.animate-up-down{
    animation: up-down 2s infinite;
}
.animate-down-up{
    animation: down-up 2s infinite;
}
.banner-caption p{
    text-shadow: 1px 1px 2px white;
}
/* end slider */
/* start general classes */
.show{
    visibility: visible !important;
    opacity: 1 !important;
}
.width-up{
    transform: translateX(0) ;
}
.hide{
    display: none;
}
.enter{
   width: 100%;
   height: 100%;
}
.full{
    height: 100%;
}
/* end general classes */
/* start media query */
@media screen and (max-width:350px){
    #hamburger-menu a{
           display: none;
    }
    #dark-light{
        width:40px;
        height: 40px;
    }
}
/* end media query */
/* start keyframes */
@keyframes animate-ring{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg); 
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes up-down{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(15px);
    }
    100%{
        transform:translateY(0px);
    }

}
@keyframes down-up{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0px);
    }

}
/* end keyframes */




/* colors:light:
red-950
red-600
black
gray-100
gray-200
gray-500
white
*/
/* colors:dark:

*/